/* =========================
1 - Style Basic
2 - Navbar
3 - banner
4 - About
5 - Portfolio
6 - Skills
7 - Video
8 - Testimonial
9 - Blog
10 - Contact
11 - Footer
12 - TO Top
13 - Settings Box
============================ */

/* =========================
1 - Style Basic
============================ */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Seletor para a criação de variáveis */
:root{
    --cor-preta: #000;
    --font-roboto:'Roboto', sans-serif;
    --font-poppins:'Poppins', sans-serif;
}

body{
    background-color: #fff;
    color: #000;
    font: 400 16px/30px var(--font-roboto);
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

/* !important significa que para todo os ul do projeto será aplicado um stylo 'none' */
ul{
    list-style: none !important;
}

a{
    text-decoration: none !important;
}

.hero-container{
    position: relative;
    width: 100%;
    max-width: 1070px;
    height: 100%;
    margin: auto;
    padding: 0 40px;
}


/* =========================
2 - Navbar
============================ */
.nav-container{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav-container .nav-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 18px 50px;
}

.nav-container .nav-content .logo h2{
    position: relative;
    font: 900 22px var(--font-poppins);
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--cor-preta);
}

.nav-container .nav-content ul{
    display: flex;
    position: relative;
    column-gap: 25px;
}

.nav-container .nav-content ul li a{
    position: relative;
    font: 500 15px var(--font-poppins);
    text-transform: capitalize;
    color: var(--cor-preta);
}

.nav-container .nav-content .menu-hamburguer{
    display: none;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}

.nav-container .nav-content .menu-hamburguer > .hamburguer{
    background-color: var(--cor-preta);
    position: relative;
    margin-top: 10px;
    width: 40px;
    height: 3px;
}
/* =========================
3 - Banner
============================ */
.banner-hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.banner-hero .banner-hero-img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    clip-path: polygon(0% 100%, 21% 0%, 100% 0%, 100% 100%);
}

.banner-hero .hero-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/banner/banner.jpg') no-repeat center/cover;
}

.banner-hero .hero-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-hero .hero-content h2 span{
    padding-left: 2px;
    color: transparent;
    -webkit-text-stroke: 1px var(--cor-preta);
}

.banner-hero .hero-content h2{
    position: relative;
    display: inline-block;
    font: 900 55px/1.2 var(--font-poppins);
    text-transform: uppercase;
    color: var(--cor-preta);
    overflow: hidden;
}

.banner-hero .hero-content .banner-job{
    position: relative;
    margin-bottom: 25px;
    padding-right: 30px;
    font: 500 17px var(--font-roboto);
    overflow: hidden;
    margin-top: 50px;
}

/* =========================
4 - About
============================ */
.about-section{
    padding: 100px 0px;
}

.about-container{
    position: relative;
    display: flex;
    max-width: 1070px;
    margin: auto;
}

.about-image{
    position: relative;
    flex: 1;
}

.about-image > img{
    position: relative;
    width: 100%;
    height: auto;
    min-width: 469px;
}

.about-description{
    flex: 1;
    padding-top: 20px;
}

.about-description span{
    position: relative;
    display: inline-block;
    background-color: var(--cor-preta);
    color: #fff;
    text-transform: uppercase;
    font: 500 12px var(--font-poppins);
    letter-spacing: 1px;
    padding: 10px;
}

.about-description .title{
    position: relative;
    margin: 30px 0px 40px 0px;
}

.about-description .title > h2{
    font: 900 30px var(--font-poppins);
    line-height: 1.4;
}

.about-description .desc{
    position: relative;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.about-description button{
    position: relative;
    background-color: var(--cor-preta);
    color: #fff;
    font: 300 14px var(--font-poppins);
    letter-spacing: 1px;
    border: 1px solid var(--cor-preta);
    padding: 20px 50px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.about-description button:hover{
    background-color: transparent;
    color: var(--cor-preta);
    font-weight: 600;
}


/* =========================
5 - Portfolio
============================ */
/* =========================
6 - Skills
============================ */
/* =========================
7 - Video
============================ */
/* =========================
8 - Testimonial
============================ */
/* =========================
9 - Blog
============================ */
/* =========================
10 - Contact
============================ */
/* =========================
11 - Footer
============================ */
/* =========================
12 - TO Top
============================ */
/* =========================
13 - Settings Box
============================ */